/* Стили личного кабинета страницы "Заказы" */

/* Основной контейнер */
.orders-page {
    max-width: 1200px;
    margin: 3rem 5rem;
    padding: 0 1.5rem;
}

/* Шапка страницы */
.orders-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

/* Заголовок */
.orders-page-title {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #2d3436;
}

/* Кнопка сортировки */
.orders-page-sort-btn {
    width: 185px;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    border: 2px solid #20b92d;
    border-radius: 25px;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.orders-page-sort-btn:hover {
    box-shadow: 0 4px 12px rgba(39, 174, 96, 0.2);
}

/* Иконка сортировки */
.sort-icon {
    width: 16px;
    object-fit: cover;
    transition: transform 0.3s;
}

/* Анимация при нажатии */
.sort-icon.rotated {
    transform: rotate(180deg);
}

.orders-list {
    display: grid;
    gap: 1.5rem;
}

/* Контейнер списка заказов */
.orders-list {
    display: grid;
    gap: 1.5rem;
}

/* Карточка заказа */
.order-card {
    background: white;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
}

.order-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Главная (внешняя) часть карточки */
.order-card-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Заголовок внутри карточки */
.order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

/* Контейнер статуса и номера заказа */
.order-number-status {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Номер заказа */
.order-number {
    font-weight: 600;
    color: #2d3436;
}

/* Статус заказа */
.order-status {
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Статус оплаты */
.payment-status {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    width: fit-content;
}

.paid {
    background: #e8f6ef;
    color: #219653;
}

.unpaid {
    background: #fee2e2;
    color: #eb5757;
}

/* Цветовые обозначения для статусов заказа */

/* Дефолтный стиль для статуса */
.status-default {
    background: #f3f4f6;
    color: #4f4f4f;
}

.status-created {
    background: #dbeafe;
    color: #1d4ed8;
}

.status-active {
    background: #fef9c3;
    color: #ca8a04;
}

.status-delivered {
    background: #dcfce7;
    color: #15803d;
}

.status-canceled {
    background: #fee2e2;
    color: #b91c1c;
}

/* Иконка раскрывающей части заказа */
.expand-icon {
    width: 20px;
    transition: transform 0.3s;
}

.expand-icon.rotated {
    transform: rotate(180deg);
}

/* Маска номера телефона */
.phone-masked {
    background: none;
    border: none;
    font-family: inherit;
    color: inherit;
    color: #636e72;
    font-weight: 500;
    font-size: 16px;
}

/* Общая информация по заказу */
.order-summary {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}

.order-summary-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Элемент общей информации */
.order-summary-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #636e72;
}

/* Иконка элемента */
.order-summary-item img {
    width: 20px;
    object-fit: cover;
}

/* Бесплатная доставка */
.free-delivery {
    color: #27ae60;
    margin-left: 8px;
}

/* Крайний элемент */
.order-summary-item>*:last-child {
    display: flex;
}

/* Сумма */
.cost-details {
    gap: 0.5rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* Финальная стоимость */
.total-cost {
    font-size: 20px;
    font-weight: 700;
    color: #2d3436;
}

/* Иконка рубля */
.ruble-icon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

/* Скрытая информация заказа. Список товаров */
.order-details {
    background: #f8f9fa;
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-bottom: 1px solid #eee;
}

/* Убираем отступ у последнего элемента */
.order-details>*:last-child {
    margin-bottom: 0;
}

/* Элемент секции внутренней части заказа. */
.details-section {
    margin-bottom: 1.0rem;
}

/* Заголовок секции */
.details-section h3 {
    color: #2d3436;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

/* Товары в заказе */
.order-items {
    display: grid;
    gap: 0.7rem;
    margin: 0.3rem 0;
    padding: 0.8rem 1.5rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Товар в заказе */
.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 15px;
    color: #636e72;
}

/* Разделительная линия */
.orders-divider {
    margin-top: 0.2rem;
    border-top: 2px dashed #5f96529f;
}

/* "Итого" */
.order-item:last-child span:first-child {
    color: #2d3436;
    font-size: 18px;
    font-weight: 700;
}

/* Сумма заказа */
.order-item:last-child span:last-child {
    font-size: 18px;
    font-weight: 700;
    color: #2d3436;
    display: flex;
    align-items: center;
}

/* Подбробная информация об адресе */
.address-details {
    display: grid;
    gap: 0.5rem;
    color: #636e72;
}

/* Элемент адреса */
.address-details div {
    margin: 0.3rem 0;
    padding: 0.8rem 1.5rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Способ оплаты */
.payment-method {
    padding: 0.8rem 1.5rem;
    background: #ffffff;
    border-radius: 10px;
    font-weight: 500;
}

/* Адаптивность */
@media (max-width: 768px) {

    /* Шапка страницы */
    .orders-page-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    /* Элемент общей информации */
    .order-summary {
        grid-template-columns: 1fr;
    }
}