/* Стили для модального окна "Адреса доставки" */

/* Блокировка скролла */
body.no-scroll {
    overflow: hidden;
}

/* Пространство за модальным окном */
.address-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(1px);
}

/* Модальное окно запущено */
.address-modal-overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Анимация появления */
    animation: modalAppear 0.3s ease;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

/* Анимация появления */
@keyframes modalAppear {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Модальное окно */
.address-modal-container {
    background: white;
    width: 90%;
    max-width: 1200px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    min-height: 600px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* Левая часть окна - поля и список */
.address-modal-sidebar {
    width: 400px;
    background: #f8f9fa;
    padding: 25px;
    border-right: 1px solid #e9ecef;
    overflow-y: auto;
}

/* Правая часть окна - карта */
.address-modal-map {
    flex-grow: 1;
    height: 600px;
    background: #f8f9fa;
    overflow: hidden;
    /* Добавлено для обрезки */
    background: #f0f0f0;
    /* Фон на время загрузки */
}

/* Кнопка добавить адрес */
.address-modal-add-btn {
    width: 100%;
    padding: 12px;
    background: #20b92d;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 30px;

}

.address-modal-add-btn:hover {
    background: #189924;
}

/* Карточка из списка адресов */
.address-modal-address-card {
    display: flex;
    justify-content: space-between;
    background: white;
    border: 1px solid #dfe6e9;
    border-radius: 12px;
    padding: 1.25rem 1.5rem;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 1rem;
}

.address-modal-address-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.address-modal-address-card.selected {
    border-color: #74b9ff;
    background: #f8fbff;
}

/*  Контейнер радио кнопки */
.address-modal-radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 40px;
}

.address-modal-radio-wrapper input[type="radio"] {
    accent-color: #68946b;
    width: 18px;
    height: 18px;
}

.addresses-page-main-info {
    height: 100%;
    margin-bottom: 1.5rem;
}

.address-modal-city-street {
    font-size: 16px;
    font-weight: 500;
    color: #2d3436;
    margin: 0 0 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
}

/* Частный дом */
.address-modal-private-label {
    background: #ffeaa7;
    color: #e17055;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    flex-shrink: 0;
}

/* Детализация адреса */
.address-modal-details {
    display: grid;
    gap: 12px;
    margin-bottom: 1rem;
}

.address-modal-detail-group {
    display: grid;
    gap: 12px;
    margin-bottom: 1rem;
}

.address-modal-detail-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #636e72;
    background: #f8f9fa;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}

/* Комментарий */
.address-modal-comment {
    padding: 12px;
    background: #f8fbff;
    border-radius: 8px;
    font-size: 14px;
    color: #636e72;
    display: flex;
    align-items: center;
    gap: 8px;
    border-left: 3px solid #74b9ff;

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-right: 1rem;
}

/* Меню адреса */

.address-modal-menu {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    background: white;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 140px;
}

.address-modal-menu-btn {
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: auto;
    margin: 0 -10px;
}

.address-modal-menu-btn:hover {
    background: rgba(128, 128, 128, 0.1);
}

/* Форма добавления и редактирования адреса */
.address-modal-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    height: 100%;
}

/* Заголовок */
.address-modal-title {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 1rem;
    color: #2d3436;
    text-align: center;
}

/* Список предложений поиска */
.address-modal-suggestions-list {
    position: absolute;
    width: calc(100% - 0px);
    background: white;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 200px;
    max-width: 400px;
    overflow-y: auto;
}

/* Адрес предложения поиска */
.address-modal-suggestion-item {
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 14px;
}

.address-modal-suggestion-item:hover {
    background: #f8f9fa;
}

.address-modal-suggestion-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/* Поля ввода */
.address-modal-input {
    /* width: 100%; */
    padding: 12px 16px;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.address-modal-input:focus {
    outline: none;
    border-color: #74b9ff;
    box-shadow: 0 0 0 2px rgba(116, 185, 255, 0.2);
}

/* Дополнительные поля адресе */
.address-modal-extra-fields {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.address-modal-extra-fields input,
.address-modal-extra-fields textarea {
    border: 1px solid #e9ecef;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.address-modal-extra-fields textarea {
    resize: vertical;
    min-height: 80px;
}

/* Группа поля и названия */
.address-modal-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Заголовок поля */
.address-modal-input-group label {
    font-size: 14px;
    color: #636e72;
    font-weight: 500;
}

/* Чек-бокс */
.address-modal-checkbox-group {
    /* margin: 1.0rem 0; */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.address-modal-checkbox-group input {
    width: 20px;
    height: 20px;
    accent-color: #74b9ff;
}

/* Заголовок чекбокса */
.address-modal-checkbox-group label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    font-size: 14px;
    color: #636e72;
    font-weight: 500;
}

/* Кнопка сохранения */
.address-modal-save-btn {
    width: 100%;
    padding: 14px;
    background: #20b92d;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    /* Плавные переходы */
    margin-top: 20px;
}

.address-modal-save-btn:disabled {
    background: #dfe6e9;
    cursor: not-allowed;
}

.address-modal-save-btn:hover:not(:disabled) {
    background: #189924;
    transform: translateY(-2px);
    /* Лёгкий эффект подъёма при наведении */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* Тень становится более выраженной */
}

/* Кнопка назад */
.address-modal-back-btn {
    width: 100%;
    padding: 14px;
    background: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    /* Плавные переходы */
    margin-top: 20px;
}

.address-modal-back-btn:hover {
    background: #5a6268;
    /* Более темный серый цвет при наведении */
    transform: translateY(-2px);
    /* Лёгкий эффект подъёма при наведении */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* Тень становится более выраженной */
}

.address-modal-back-btn:active {
    transform: translateY(1px);
    /* Эффект нажатия */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Уменьшаем тень при нажатии */
}

/* Уведомления внутри модального окна */

/* Контейнер */
.address-modal-notifications {
    position: fixed;
    top: 1.5%;
    /* Если сделать bottom без контроля высоты, то он может в прозрачном состоянии 
    перекрыть контент и при нажатии на него модальное окно закроется, так как 
    уведомления не входят в состав модального окна и ссылка на них не распространяется */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
}

/* Сообщение */
.address-modal-notification {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    margin-bottom: 10px;
    animation: modalNotificationSlide 0.3s ease-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    backdrop-filter: blur(5px);
}

/* Анимация */
@keyframes modalNotificationSlide {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Крестик закрыть форму */
.address-modal-close-button {
    position: absolute;
    left: 90.5%;
    top: 9%;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1000;
    padding: 1px 8px;
    opacity: 0.7;
    border-radius: 10px;
    background-color: white;
}

.address-modal-close-button img {
    margin-bottom: 0.5px;
    width: 18px;
    height: 18px;
    object-fit: contain;
    /* Пропорция формы */
}

.address-modal-close-button:hover {
    transform: translateY(-2px);
    opacity: 1;
}

/* Сообщение о пустом списке */
.address-modal-empty {
    margin-top: 0.5rem;
    text-align: center;
    color: #636e72;
    padding: 2rem;
    border: 2px dashed #dfe6e9;
    border-radius: 12px;
}

/* Адаптация списка */
@media (max-width: 768px) {

    /* Карточка адреса */
    .address-modal-address-card {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    /* Радио кнопка */
    .address-modal-radio-wrapper {
        justify-content: flex-start;
    }
}