/* Стили для меню личного кабинет */

/* Контейнер меню */
.personal-account-menu-menu-container {
    width: 250px;
    height: calc(100% - 100px);
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    right: 1;
    top: 1; /* Над хедером */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем пространство */
}

/* Заголовок */
.personal-account-menu-title {
    color: #2c3e50;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

/* Контейнер с кнопками */
.personal-account-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Кнопки */
.personal-account-menu-nav-button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background: none;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.personal-account-menu-nav-button:hover {
    background-color: #f8f9fa;
}

/* Кнопка выхода из учетной записи */
.personal-account-menu-logout-button {
    width: 100%;
    background-color: #e74c3c;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: auto; /* Прижимает кнопку к низу */
    justify-content: center;
    margin-bottom: 15px;
}

.personal-account-menu-logout-button:hover {
    background-color: #c0392b; /* Прозрачность при наведении */
}